*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
#product-overview{
    background: #ff1684;
    width: 50%;
    height: 100px;
    /*height:100%;*/
    /*width: 300px;*/
    padding: 20px;
    /*border-style: solid;
    border-color: black;
    border-width: 5px;*/
    border: 5px solid black;
    /*margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin: 5px 10px 5px 10px;
    margin: 5px 10px;*/
    margin: 20px;
    box-sizing: border-box;
    /*height*/
}
#product-overview h1{
    color: white;
    font-family: 'Anton', sans-serif;
    
}
.section-title{
    color:green;
}


